blockquote {
  color: #789922;
  font-style: normal;
  margin-left: 0;
  border-left: none;
  padding-left: 0;
}

s {
  text-decoration: none;
}

s:not(:hover) {
  background-color: currentColor;
}

s:not(:hover) * {
  color: inherit;
}
